simulator/baidu-fetcher/src/main/java/test.wsdl

<wsdl:definitions xmlns:common="http://api.baidu.com/sem/common/v2"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://api.baidu.com/sem/sms/v3"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="ReportService" targetNamespace="https://api.baidu.com/sem/sms/v3">
	<wsdl:types>
		<xsd:schema xmlns:common="http://api.baidu.com/sem/common/v2"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://api.baidu.com/sem/sms/v3"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="https://api.baidu.com/sem/sms/v3">
			<xsd:import namespace="http://api.baidu.com/sem/common/v2"
				schemaLocation="https://api.baidu.com/sem/sms/v3/ReportService?xsd=../../Common.xsd" />
			<xsd:complexType name="AttributeType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="key" type="xsd:string" />
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="value"
						type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RealTimeRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="performanceData" type="xsd:string" />
					<xsd:element minOccurs="0" name="order" type="xsd:boolean" />
					<xsd:element name="startDate" type="xsd:dateTime" />
					<xsd:element name="endDate" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="levelOfDetails" type="xsd:int" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="attributes" type="tns:AttributeType" />
					<xsd:element name="reportType" type="xsd:int" />
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="statIds"
						type="xsd:long" />
					<xsd:element minOccurs="0" name="statRange" type="xsd:int" />
					<xsd:element minOccurs="0" name="unitOfTime" type="xsd:int" />
					<xsd:element minOccurs="0" name="number" type="xsd:int" />
					<xsd:element minOccurs="0" name="device" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RealTimeQueryRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="performanceData" type="xsd:string" />
					<xsd:element name="startDate" type="xsd:dateTime" />
					<xsd:element name="endDate" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="levelOfDetails" type="xsd:int" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="attributes" type="tns:AttributeType" />
					<xsd:element name="reportType" type="xsd:int" />
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="statIds"
						type="xsd:long" />
					<xsd:element minOccurs="0" name="statRange" type="xsd:int" />
					<xsd:element minOccurs="0" name="unitOfTime" type="xsd:int" />
					<xsd:element minOccurs="0" name="number" type="xsd:int" />
					<xsd:element minOccurs="0" name="device" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RealTimeResultType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="ID" type="xsd:long" />
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="name"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="date" type="xsd:string" />
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="KPIs"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="relatedId" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RealTimeQueryResultType">
				<xsd:sequence>
					<xsd:element name="query" type="xsd:string" />
					<xsd:element minOccurs="0" name="keywordId" type="xsd:long" />
					<xsd:element minOccurs="0" name="creativeId" type="xsd:long" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="queryInfo" type="xsd:string" />
					<xsd:element name="date" type="xsd:string" />
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="KPIs"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RealTimePairResultType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="keywordId" type="xsd:long" />
					<xsd:element minOccurs="0" name="creativeId" type="xsd:long" />
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="pairInfo"
						type="xsd:string" />
					<xsd:element name="date" type="xsd:string" />
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="KPIs"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ReportRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="performanceData"
						type="xsd:string" />
					<xsd:element name="startDate" type="xsd:dateTime" />
					<xsd:element name="endDate" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="idOnly" type="xsd:boolean" />
					<xsd:element minOccurs="0" name="levelOfDetails" type="xsd:int" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="attributes" type="tns:AttributeType" />
					<xsd:element minOccurs="0" name="format" type="xsd:int" />
					<xsd:element name="reportType" type="xsd:int" />
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="statIds"
						type="xsd:long" />
					<xsd:element minOccurs="0" name="statRange" type="xsd:int" />
					<xsd:element minOccurs="0" name="unitOfTime" type="xsd:int" />
					<xsd:element minOccurs="0" name="device" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getRealTimeDataRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="realTimeRequestTypes" type="tns:RealTimeRequestType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRealTimePairDataRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="realTimePairRequestTypes" type="tns:RealTimeRequestType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRealTimeQueryDataRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="realTimeQueryRequestTypes" type="tns:RealTimeQueryRequestType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRealTimeDataResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0"
							name="realTimeResultTypes" type="tns:RealTimeResultType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getProfessionalReportIdRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="reportRequestType" type="tns:ReportRequestType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getProfessionalReportIdResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="reportId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getReportStateRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="reportId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getReportStateResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="isGenerated" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getReportFileUrlRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="reportId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getReportFileUrlResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="reportFilePath" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRealTimeQueryDataResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0"
							name="realTimeQueryResultTypes" type="tns:RealTimeQueryResultType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRealTimePairDataResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0"
							name="realTimePairResultTypes" type="tns:RealTimePairResultType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getProfessionalReportIdRequest">
		<wsdl:part element="tns:getProfessionalReportIdRequest"
			name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRealTimePairDataResponse">
		<wsdl:part element="tns:getRealTimePairDataResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getReportFileUrlResponse">
		<wsdl:part element="tns:getReportFileUrlResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getProfessionalReportIdResponse">
		<wsdl:part element="tns:getProfessionalReportIdResponse"
			name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getReportStateRequest">
		<wsdl:part element="tns:getReportStateRequest" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ResHeader">
		<wsdl:part element="common:ResHeader" name="ResHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRealTimeDataResponse">
		<wsdl:part element="tns:getRealTimeDataResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getReportStateResponse">
		<wsdl:part element="tns:getReportStateResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRealTimeQueryDataResponse">
		<wsdl:part element="tns:getRealTimeQueryDataResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRealTimeDataRequest">
		<wsdl:part element="tns:getRealTimeDataRequest" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRealTimeQueryDataRequest">
		<wsdl:part element="tns:getRealTimeQueryDataRequest" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRealTimePairDataRequest">
		<wsdl:part element="tns:getRealTimePairDataRequest" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AuthHeader">
		<wsdl:part element="common:AuthHeader" name="AuthHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getReportFileUrlRequest">
		<wsdl:part element="tns:getReportFileUrlRequest" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ReportService">
		<wsdl:operation name="getRealTimeData">
			<wsdl:input message="tns:getRealTimeDataRequest"></wsdl:input>
			<wsdl:output message="tns:getRealTimeDataResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getProfessionalReportId">
			<wsdl:input message="tns:getProfessionalReportIdRequest"></wsdl:input>
			<wsdl:output message="tns:getProfessionalReportIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getReportState">
			<wsdl:input message="tns:getReportStateRequest"></wsdl:input>
			<wsdl:output message="tns:getReportStateResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getReportFileUrl">
			<wsdl:input message="tns:getReportFileUrlRequest"></wsdl:input>
			<wsdl:output message="tns:getReportFileUrlResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRealTimeQueryData">
			<wsdl:input message="tns:getRealTimeQueryDataRequest"></wsdl:input>
			<wsdl:output message="tns:getRealTimeQueryDataResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRealTimePairData">
			<wsdl:input message="tns:getRealTimePairDataRequest"></wsdl:input>
			<wsdl:output message="tns:getRealTimePairDataResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ReportServiceSOAP" type="tns:ReportService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getRealTimeData">
			<soap:operation
				soapAction="https://api.baidu.com/sem/sms/v3/ReportService/getRealTimeData" />
			<wsdl:input>
				<soap:header message="tns:AuthHeader" part="AuthHeader"
					use="literal"></soap:header>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:ResHeader" part="ResHeader"
					use="literal"></soap:header>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getProfessionalReportId">
			<soap:operation
				soapAction="https://api.baidu.com/sem/sms/v3/ReportService/getProfessionalReportId" />
			<wsdl:input>
				<soap:header message="tns:AuthHeader" part="AuthHeader"
					use="literal"></soap:header>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:ResHeader" part="ResHeader"
					use="literal"></soap:header>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getReportState">
			<soap:operation
				soapAction="https://api.baidu.com/sem/sms/v3/ReportService/getReportState" />
			<wsdl:input>
				<soap:header message="tns:AuthHeader" part="AuthHeader"
					use="literal"></soap:header>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:ResHeader" part="ResHeader"
					use="literal"></soap:header>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getReportFileUrl">
			<soap:operation
				soapAction="https://api.baidu.com/sem/sms/v3/ReportService/getReportFileUrl" />
			<wsdl:input>
				<soap:header message="tns:AuthHeader" part="AuthHeader"
					use="literal"></soap:header>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:ResHeader" part="ResHeader"
					use="literal"></soap:header>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRealTimeQueryData">
			<soap:operation
				soapAction="https://api.baidu.com/sem/sms/v3/ReportService/getRealTimeQueryData" />
			<wsdl:input>
				<soap:header message="tns:AuthHeader" part="AuthHeader"
					use="literal"></soap:header>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:ResHeader" part="ResHeader"
					use="literal"></soap:header>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRealTimePairData">
			<soap:operation
				soapAction="https://api.baidu.com/sem/sms/v3/ReportService/getRealTimePairData" />
			<wsdl:input>
				<soap:header message="tns:AuthHeader" part="AuthHeader"
					use="literal"></soap:header>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:ResHeader" part="ResHeader"
					use="literal"></soap:header>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ReportService">
		<wsdl:port binding="tns:ReportServiceSOAP" name="ReportService">
			<soap:address location="https://api.baidu.com/sem/sms/v3/ReportService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>